
.margin{
  margin: 0px 150px 70px 50px;
}
.img{
  width: 500px;
  
}
@media only screen and (max-width: 992px){
  .margin{
      padding: 0px;
  }
  .img{
      width: 200px;
      padding-left: -100px;
  }
  .responsive {
      width: 70%;
      height: auto;
      margin-left: 50px;
    }
}
.icon-img
{
  width: 180px;
  height: 150px;
}
.btn-primary{
  color: #fff;
  background-color: orange !important;
  border-color: orange !important;
}
.reset{
  color: orange;
}
=======

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


