
body {

/*body {

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}*/
.header {
  color:black ;
  font-family: verdana;
  justify-content: center;
  align-items: center;
 }

.header2 {
  font-style: italic;
  color: white;
  text-transform: uppercase;
  background-color:orange; 
}

.class{
  tab-size: 150px;
}
.element{
  font-variant: small-caps;

}
